<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--servlets 定义-->
    <!--*****************************************************************************************************************-->
    <!--投诉列表-->
    <servlet>
        <servlet-name>Do_ComplainList</servlet-name>
        <servlet-class>com.jweb.servlets.Do_GetComplainList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Do_ComplainList</servlet-name>
        <url-pattern>/Do_ComplainList</url-pattern>
    </servlet-mapping>

    <!--用户登录-->
    <servlet>
        <servlet-name>Do_UserLogin</servlet-name>
        <servlet-class>com.jweb.servlets.Do_UserLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Do_UserLogin</servlet-name>
        <url-pattern>/Do_UserLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Do_UserCheck</servlet-name>
        <servlet-class>com.jweb.servlets.Do_UserCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Do_UserCheck</servlet-name>
        <url-pattern>/Do_UserCheck</url-pattern>
    </servlet-mapping>
    <!--提交投诉-->
    <servlet>
        <servlet-name>Do_HandupComplain</servlet-name>
        <servlet-class>com.jweb.servlets.Do_HandupComplain</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Do_HandupComplain</servlet-name>
        <url-pattern>/Do_HandupComplain</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
    <!--<servlet-name>Dao_ToLogin</servlet-name>-->
    <!--<servlet-class>com.jweb.servlets.Dao_ToLogin</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Dao_ToLogin</servlet-name>-->
    <!--<url-pattern>/Dao_ToLogin</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--*****************************************************************************************************************-->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>